* {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1;
}

h1 {
  font-weight: bold;
}

h2 {
  padding-top: 5px;
}

p,
nav {
  line-height: 1.5;
  background-color: transparent;
}

li {
  list-style-type: none;
  line-height: 2;
}

.main-content {
  background-color: rgba(240, 240, 240, 0.7);
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 200px minmax(600px, 1000px) 200px 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    ". menu header link ."
    ". menu info link ."
    ". menu subhead link ."
    ". menu subcontent link ."
    ". menu footer link .";
}

.ladder-calc-subcontent {
  padding-left: 20px;
  padding-right: 20px;
  grid-area: subcontent;
  display: grid;
  justify-content: center;
  max-width: 100%;
  height: auto;
  grid-template-columns: 30% auto;
  grid-template-rows: auto 30% auto;
  grid-template-areas:
    "subinfo subinfo"
    "calc-result img"
    "message img";
}

.nav-menu {
  background-color: rgb(240, 240, 240);
  grid-area: menu;
  border-right-style: solid;
  border-color: rgba(220, 220, 220, 0.5);
}

.ladder-calc-header {
  grid-area: header;
  padding: 20px 20px 0px;
}

.ladder-calc-info {
  grid-area: info;
  place-self: stretch center;
  padding: 0px 20px;
}

.ladder-calc-subhead {
  grid-area: subhead;
  padding-left: 20px;
}

.ladder-calc-subhead > h2 {
  padding-left: 0px;
}

.links-menu {
  background-color: rgb(240, 240, 240);
  grid-area: link;
  border-left-style: solid;
  border-color: rgba(220, 220, 220, 0.5);
}

.subcontent-sub-info {
  grid-area: subinfo;
}

.subcontent-calculator {
  grid-area: calc-result;
  place-self: start center;
  padding-top: 30px;
}

.subcontent-calculator-btn {
  padding-top: 10px;
  text-align: center;
}

.subcontent-image {
  grid-area: img;
}

.result-img {
  max-width: 100%;
  height: auto;
  place-self: auto center;
}

.subcontent-message {
  grid-area: message;
  margin-top: 10px;
  place-self: start center;
}

.footer {
  grid-area: footer;
}

.input-field {
  margin-bottom: 10px;
  place-self: auto center;
}

.btn-tabs {
  padding: 5px;
  margin: 15px 5px 10px;
}

.btn-tabs:first-of-type {
  margin-left: 0px;
}

.btn-calc {
  padding: 5px;
}

.footer {
  padding-left: 10px;
  font-size: xx-small;
}
