* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1;
  color: rgba(0, 0, 0, 0.85);
}

h1 {
  font-weight: bold;
}

h2 {
  padding-top: 5px;
}

p,
nav,
li {
  font-size: 0.8rem;
  line-height: 1.6;
  word-spacing: 0.2rem;
  background-color: transparent;
}

li {
  list-style-type: none;
  line-height: 2;
}

a {
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}
a:active {
  color: rgba(0, 0, 0, 0.3);
}
a:visited {
  color: rgba(0, 0, 0, 0.3);
}

.main-page {
  background-color: #fefefe;
  display: grid;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: 1fr 350px minmax(700px, 800px) 350px 1fr;
  grid-template-areas: ". navi main link .";
}
.main-page .main-content::-webkit-scrollbar {
  width: 8px;
}
.main-page .main-content::-webkit-scrollbar-thumb {
  background-color: rgba(220, 220, 220, 0.5);
}
.main-page .main-content {
  z-index: 1;
  background-color: white;
  grid-area: main;
  display: grid;
  height: auto;
  overflow-y: scroll;
  scrollbar-width: thin;
  grid-template-rows: 90px 80px 60px 50px 1fr;
  grid-template-areas: "header" "info" "subhead" "tabs" "subcontent";
}
.main-page .main-content .ladder-calc-header {
  grid-area: header;
  padding: 10px 20px;
  z-index: 2;
}
.main-page .main-content .ladder-calc-info {
  grid-area: info;
  padding: 0px 20px;
  z-index: 2;
}
.main-page .main-content .ladder-calc-subhead {
  grid-area: subhead;
  padding: 30px 0px 0px 20px;
  z-index: 2;
}
.main-page .main-content .ladder-calc-tabs {
  grid-area: tabs;
  padding-left: 20px;
  display: flex;
  align-content: flex-end;
  z-index: 2;
}
.main-page .main-content .ladder-calc-tabs .btn-tabs {
  font-size: 0.9rem;
  padding: 7px;
  margin: 15px 2px 5px;
  background-color: transparent;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: none;
  border-style: none;
  border-top-style: solid;
  border-right-style: solid;
  transition: background-color 0.1s ease-in-out;
}
.main-page .main-content .ladder-calc-tabs .btn-tabs:first-of-type {
  margin-left: 0px;
}
.main-page .main-content .ladder-calc-tabs .btn-tabs:hover {
  background-color: rgba(255, 0, 0, 0.5);
}
.main-page .main-content .ladder-calc-tabs .btn-tabs:active {
  background-color: red;
  transition: background-color 0s;
}
.main-page .main-content .ladder-calc-tabs .active-tab {
  border-bottom: solid;
  border-bottom-color: rgba(255, 0, 0, 0.8);
}

.ladder-calc-subcontent {
  padding: 5px 20px 0px 20px;
  grid-area: subcontent;
  z-index: 2;
  display: grid;
  max-width: 100%;
  height: auto;
  grid-template-columns: 35% 1fr;
  grid-template-rows: auto 300px auto;
  grid-template-areas: "subinfo subinfo" "calc-result img" "message img";
}
.ladder-calc-subcontent .subcontent-sub-info {
  grid-area: subinfo;
  overflow: auto;
}
.ladder-calc-subcontent .subcontent-sub-info .tab1 {
  display: block;
}
.ladder-calc-subcontent .subcontent-sub-info .tab2 {
  display: none;
}
.ladder-calc-subcontent .subcontent-sub-info .tab3 {
  display: none;
}
.ladder-calc-subcontent .subcontent-calc_result {
  grid-area: calc-result;
  display: block;
  place-self: start center;
}
.ladder-calc-subcontent .subcontent-calc_result .subcontent-inputFields {
  padding-top: 25px;
}
.ladder-calc-subcontent .subcontent-calc_result .subcontent-inputFields .input-field {
  height: 1.5rem;
  width: 160px;
  margin-bottom: 10px;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.85);
  padding-left: 2px;
}
.ladder-calc-subcontent .subcontent-calc_result .subcontent-result ul {
  padding: 25px 0px 0px 20px;
}
.ladder-calc-subcontent .subcontent-calc_result .subcontent-result p {
  font-size: 9px;
  padding-left: 10px;
}
.ladder-calc-subcontent .subcontent-calculator-btn {
  padding-top: 10px;
  text-align: center;
}
.ladder-calc-subcontent .subcontent-image {
  grid-area: img;
}
.ladder-calc-subcontent .subcontent-image .result-img {
  max-width: 100%;
  height: auto;
  place-self: center;
}
.ladder-calc-subcontent .subcontent-error-message {
  grid-area: message;
  place-self: start center;
  text-align: center;
}
.ladder-calc-subcontent .subcontent-error-message p {
  color: red;
}

.btn-calc,
.btn-back,
.btn-save {
  font-size: 0.8rem;
  padding: 5px;
}

.result-btn {
  display: block;
  position: relative;
  text-align: center;
}
.result-btn .btn-back {
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.result-btn .btn-save {
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-background {
  grid-area: navi;
  overflow: hidden;
}
.nav-background .nav-background-img {
  position: relative;
  left: -45rem;
  z-index: -1;
}

.nav-background-fade {
  grid-area: navi;
  background: linear-gradient(to left, rgba(120, 120, 120, 0.2) 15%, #fefefe 90%);
}

.nav-arrow:hover {
  cursor: pointer;
}

.nav-arrow {
  background: transparent;
  position: absolute;
}

.nav-menu {
  grid-area: navi;
  border-right-style: solid;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 1;
  padding: 30px 15px;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 80px;
  left: 400px;
  display: flex;
  background-color: white;
  border-color: rgba(220, 220, 220, 0.5);
  align-items: center;
  z-index: 0;
}
.nav-menu .nav-arrow {
  right: 102%;
}
.nav-menu .menu-arrow {
  display: flex;
  position: center;
  background: transparent;
  height: 30px;
}

.links-background {
  grid-area: link;
  overflow: hidden;
}
.links-background .links-background-img {
  position: relative;
  overflow: hidden;
  transform: scaleX(-1);
  left: -12rem;
  z-index: -1;
}

.links-background-fade {
  grid-area: link;
  background: linear-gradient(to right, rgba(120, 120, 120, 0.2) 15%, #fefefe 90%);
}

.links-menu {
  grid-area: link;
  border-left-style: solid;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 1;
  padding: 30px 15px;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 80px;
  left: -400px;
  display: flex;
  background-color: white;
  border-color: rgba(220, 220, 220, 0.5);
  align-items: center;
  z-index: 0;
}
.links-menu .nav-arrow {
  left: 102%;
}
.links-menu .link-arrow {
  display: flex;
  position: center;
  background: transparent;
  height: 30px;
  transform: rotate(180deg);
}

.menu-link-container {
  padding-left: 20px;
}

.menu-sub,
.link-sub {
  display: block;
  font-size: 0.9rem;
  font-weight: 400;
  padding-top: 5px;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center start;
  z-index: 2;
}
.footer p {
  padding-left: 10px;
  font-size: 0.5rem;
}/*# sourceMappingURL=style.css.map */